openapi: 3.0.3
info:
  title: Paypal Subscriptions Authorizations Webhooks-Lookup API
  description: You can use billing plans and subscriptions to create subscriptions that process recurring PayPal payments for physical or digital goods, or services. A plan includes pricing and billing cycle information that defines the amount and frequency of charge for a subscription. You can also define a fixed plan, such as a $5 basic plan or a volume- or graduated-based plan with pricing tiers based on the quantity purchased. For more information, see <a href="/docs/subscriptions/">Subscriptions Overview</a>.
  version: '1.6'
  contact: {}
servers:
- url: https://api-m.sandbox.paypal.com
  description: PayPal Sandbox Environment
- url: https://api-m.paypal.com
  description: PayPal Live Environment
tags:
- name: Webhooks-Lookup
  description: Use the `/webhooks-lookup` resource to create, list, show details for, and delete webhook lookups.
paths:
  /v1/notifications/webhooks-lookup:
    post:
      summary: Paypal Create webhook lookup
      description: Creates a webhook lookup.
      operationId: webhooks-lookup.post
      responses:
        '201':
          description: A successful request returns the HTTP `201 Created` status code and a JSON response body that shows webhook lookup details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhooks_lookup'
        default:
          description: The error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - Oauth2:
        - https://uri.paypal.com/services/applications/webhooks
      tags:
      - Webhooks-Lookup
    get:
      summary: Paypal List webhook lookups
      description: Lists webhook lookups.
      operationId: webhooks-lookup.list
      responses:
        '200':
          description: A successful request returns the HTTP `200 OK` status code and a JSON response body that lists webhook lookups with webhook lookup details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookLookupList'
        default:
          description: The error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - Oauth2:
        - https://uri.paypal.com/services/applications/webhooks
      tags:
      - Webhooks-Lookup
  /v1/notifications/webhooks-lookup/{webhook_lookup_id}:
    get:
      summary: Paypal Show webhook lookup details
      description: Shows details for a webhook lookup, by ID.
      operationId: webhooks-lookup.get
      responses:
        '200':
          description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows webhook lookup details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhooks_lookup'
        default:
          description: The error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - $ref: '#/components/parameters/webhook_lookup_id'
      security:
      - Oauth2:
        - https://uri.paypal.com/services/applications/webhooks
      tags:
      - Webhooks-Lookup
    delete:
      summary: Paypal Delete webhook lookup
      description: Deletes a webhook lookup, by ID.
      operationId: webhooks-lookup.delete
      responses:
        '204':
          description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
        default:
          description: The error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      parameters:
      - $ref: '#/components/parameters/webhook_lookup_id'
      security:
      - Oauth2:
        - https://uri.paypal.com/services/applications/webhooks
      tags:
      - Webhooks-Lookup
components:
  schemas:
    webhooks_lookup:
      type: object
      title: Webhook Lookup
      description: The webhook lookup details.
      properties:
        id:
          type: string
          description: The ID of the webhook lookup.
          readOnly: true
        client_id:
          type: string
          pattern: ^(?!\d+$)\w+\S+
          maxLength: 128
          description: The application client ID.
          readOnly: true
        links:
          type: array
          description: An array of request-related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links/).
          readOnly: true
          items:
            $ref: '#/components/schemas/link_description'
            readOnly: true
    error:
      type: object
      title: Error
      description: The error details.
      properties:
        name:
          type: string
          description: The human-readable, unique name of the error.
        message:
          type: string
          description: The message that describes the error.
        debug_id:
          type: string
          description: The PayPal internal ID. Used for correlation purposes.
        information_link:
          type: string
          description: The information link, or URI, that shows detailed information about this error for the developer.
          readOnly: true
        details:
          type: array
          description: An array of additional details about the error.
          items:
            $ref: '#/components/schemas/error_details-2'
        links:
          type: array
          description: An array of request-related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links).
          readOnly: true
          items:
            $ref: '#/components/schemas/link_description'
            readOnly: true
      required:
      - name
      - message
      - debug_id
    link_description:
      type: object
      title: Link Description
      description: The request-related [HATEOAS link](/docs/api/reference/api-responses/#hateoas-links) information.
      required:
      - href
      - rel
      properties:
        href:
          type: string
          description: The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.
        rel:
          type: string
          description: The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).
        method:
          type: string
          description: The HTTP method required to make the related call.
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - HEAD
          - CONNECT
          - OPTIONS
          - PATCH
    WebhookLookupList:
      type: object
      title: Webhook Lookup List
      description: A list of webhook lookups.
      properties:
        webhooks_lookups:
          type: array
          description: An array of webhook lookups.
          items:
            $ref: '#/components/schemas/webhooks_lookup'
    error_details-2:
      title: Error Details
      type: object
      description: The error details. Required for client-side `4XX` errors.
      properties:
        field:
          type: string
          description: The field that caused the error. If this field is in the body, set this value to the field's JSON pointer value. Required for client-side errors.
        value:
          type: string
          description: The value of the field that caused the error.
        location:
          type: string
          description: The location of the field that caused the error. Value is `body`, `path`, or `query`.
          default: body
        issue:
          type: string
          description: The unique, fine-grained application-level error code.
        description:
          type: string
          description: The human-readable description for an issue. The description can change over the lifetime of an API, so clients must not depend on this value.
      required:
      - issue
  parameters:
    webhook_lookup_id:
      name: webhook_lookup_id
      in: path
      description: The ID of the webhook lookup to delete.
      required: true
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 authentication
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth2/token
          scopes:
            https://uri.paypal.com/services/subscriptions: Manage plan & subscription
externalDocs:
  url: https://developer.paypal.com/docs/api/subscriptions/v1/
